.main_admin {
    background: #f2f2f2;
    width: 100%;
    min-height: 65vh;
    margin: 0 auto;
    padding: 0 1%;
}

.section_admin {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    flex-direction: column;
    align-items: center;
}

.admin_form_title, .title_h2_admin {
    display: flex;
    color: #333;
    font-size: 2.4rem;
    font-weight: bold;
    justify-content: flex-start;
    margin-bottom: 24px;
}

.admin_form_title + p {
    display: flex;
    color: #333;
    font-size: 2rem;
    justify-content: flex-start;
}

.form_admin {
    display: flex;
    gap: 10px;
    margin: 3rem auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px;
    flex-direction: column;
}

.form_admin > fieldset {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_admin > fieldset > label > select {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 34px;
    cursor: pointer;
    padding: 0 10px;
    outline: none;
    overflow: hidden;
    font-weight: 400;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.form_admin > fieldset > label > input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.6rem;
    margin-bottom: 10px;
}


.fieldset-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    font-size: 1.6rem;
}



.fieldset-input > div > a {
    font-size: 1.3rem;
}

.label-remember-me {
    display: flex;
    width: 13ch;
    gap: 10px;
}

textarea {
    border-color: black;
    width: 86.5%;
    font-size: 1.3rem;
}

/* Project List*/
.section_proyectos {
    display: flex;
    flex-direction: column;
}

.container_projects {
    max-width: 100%;
}

.container_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.create_project_images, .edit_project_image {
    font-size: 1.6rem;
    margin: 1rem 0;
}

/* Table_proyectos */

.table_projects {
    overflow-x: auto;
}
.table-bordered {
    border: 3px solid #aaa;
    font-size: 1.2rem;
}
thead {
    border: 3px solid #aaa;
    font-weight: bold;

}
thead > tr > th.th {
    border: 2px solid #aaa;
}
tbody {
    border: 2px solid #aaa;
}
tbody > tr > td.td {
    border: 2px solid #aaa;
}

.btn {
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-size: 1.6rem;
    margin: 1rem 0;
}