.footer_section_links {
    display: flex;
    background: transparent;
    height: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    gap: 10px;
}

.admin_links {
    display: flex;
    border-radius: 0;
    width: 100%;
}

.admin_links a {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid #000;
    border-top: 3px solid transparent;
    padding: 5px 5px;
    margin: 0 5px;
}

.admin_links a:hover {
    text-decoration: none;
    border-bottom: 3px solid var(--color-verde);
    border-top: 3px solid var(--color-verde);
}

.footer_links_left {
    display: flex;
    justify-content: space-between;}

.footer_links_right {
    display: flex;
    justify-content: space-between;
}