.main_admin {
    background: #f2f2f2;
    width: 100%;
    margin: 0 auto;
    padding: 0 1%;
}

.section_admin {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    flex-direction: column;
    align-items: center;
}

.admin_form_title {
    display: flex;
    color: #333;
    font-size: 2.4rem;
    font-weight: bold;
    justify-content: center;
}

.title_h2_admin {
    display: flex;
    color: #333;
    font-size: 2.4rem;
    font-weight: bold;
    justify-content: center;
    margin-left: 10px;
}

.form_admin {
    margin: 1rem auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 5px;
    max-width: 300px;
    width: 100%;
}

.form_admin > fieldset {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;

}

.form_admin > fieldset > label > select {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 35px;
    cursor: pointer;
    padding: 0 10px;
    outline: none;
    overflow: hidden;
    font-weight: 400;
    border: 4px solid rgb(113, 113, 226);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.form_admin > fieldset > label > input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.6rem;
}

.fieldset-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    font-size: 1.6rem;
}

.fieldset-input > p {
    display: flex;
    color: #333;
    font-size: 2rem;
    justify-content: center;
    margin-top: -11px;
}

.fieldset-input > div > a {
    font-size: 1.3rem;
}

.input-radio {
    width: 2ch !important;
}

.label-remember-me {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

textarea {
    border-color: black;
    font-size: 1.3rem;
    border-radius: 5px;
}

.link-form {
    width: 100%;
    text-align: center;
}

/* Project List*/
.section_proyectos {
    display: flex;
    flex-direction: column;
}

.container_projects {
    max-width: 100%;
}

.container_title {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    width: 100%;
}

.container_title > .btn {
    position: absolute;
    right: 2px;
}

.container_title a svg {
    transform: scale(1.2);

}


.create_project_images, .edit_project_image {
    font-size: 1.6rem;
    margin: 1rem 0;
}

/* Table_proyectos =========================================== */
.container_projects_admin {
    background-color: var(--color-grisoscuro);
    padding: 1px 0;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}

.table-bordered {
    border: 3px solid #aaa;
    font-size: 1.2rem;
    margin: 0;
}
thead {
    border: 3px solid #aaa;
    font-weight: bold;

}
thead > tr > th.th {
    border: 2px solid #aaa;
    text-align: center;
}
tbody {
    border: 2px solid #aaa;
}

tbody > tr > td.td_class {
    display: table-cell;
    border: 2px solid #aaa;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.image_project {
    width: 75px;
    object-fit: cover;
}

.btn {
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.register_terms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}