.header_admin {
    height: 60px;
}

.title_h1_admin {
    font-size: 3rem;
    border-radius: 0;
}

.nav_menu_items_admin, .nav_menu_items_user {
    display: flex;
    justify-content: flex-end;
    transition: 0.5s all ease;
    top: 60px;
}

.nav_menu_link_admin {
    padding: 5px 15px;
}

.nav_menu_link_admin.log_reg_color {
    background-color: var(--color-coquenicot-800);
}

.container_nav_admin {
    width: 100%;
}

.nav_menu_username {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 56, 0, 0.3);
    width: 20ch;
    text-align: center;
    color: aliceblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media only screen and (max-width: 861px) {
    .nav_menu_items_admin {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 60px;
        left: 0;
        gap: 0;
        transition: all 0.7s ease-in-out;
    }

    .nav_menu_items_admin {
        width: 50%;
        margin: 0;
        border: 1px solid rgb(55, 55, 55, 0.6);
        transition: all 0.7s ease-in-out;
    }

    .nav_menu_link_admin {
        display: inline-block;
        width: 100%;
        border-radius: 0;
        border: none;
        background-color: rgb(184, 97, 224, 0.97);
        font-size: 2.5rem;
        color: var(--font-color-light);
        font-weight: bold;
        transition: all 0.7s ease-in-out;
    }

    .nav_menu_link_admin:hover {
        background-color: var(--color-verde-800);
        transition: all 0.2s ease-in-out;
    }

}