/* Button to go up */
.container_button_goTop {
  display: flex;
}

.goTop {
  border: none;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
  position: fixed;
  margin-left: 1%;
  bottom: 2%;
  z-index: 99;
  /* Customize the button */
  background-color: var(--color-background);
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  border-radius: 40%;
}
.goTop:not(.visible) {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-2rem);
}
.goTop svg {
  stroke-width: 5px;
  stroke: currentColor;
  fill: none;
  width: 28px;
}

/* -------- MOBILE ==================================================================== -------- */
@media only screen and (max-width: 861px) {
  .goTop {
    bottom: 4rem;
    margin-left: 2%;
  }
}