.container_footer{
    display: flex;
    align-items: center;
    padding: 5px;
    background: var(--gradient);
    flex-direction: column;
}

.title_social{
    font-family: Verdana, sans-serif;
    font-size: 24px;
    padding: 5px;
    margin: 10px;

}
.links_social{
    font-size: 20px;
    border-radius: 10px;
}

.anchor_social {
    display: flex;
}

.copy{
    font-size: 14px;
    font-style: italic;
    padding: 5px;
    margin: 10px;
    text-shadow: -1px 0 20px rgb(0, 0, 0);
}

.footer_social_links{
    justify-content: center;
}

.logo_social{
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.logo_social:hover{
    border: 1px solid rgb(221, 160, 221);
    border-radius: 10px;
    transition: all 0.5s;
}

/* -------- MOBILE ==================================================================== -------- */
@media only screen and (max-width: 599px) {
    .copy{
        margin: 10px 0 0;
        font-weight: bold;
        text-shadow: -1px 0 30px rgb(0, 0, 0);

    }
}