/* This file is used to style the header of the website */
header {
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--gradient);
    z-index: 900;
    width: 100%;
    transition: 0.5s all ease-in-out;
}

header::before { 
    content: ''; 
    width: 100%;
    max-height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(4px) brightness(1);
    backdrop-filter: blur(4px) brightness(1);
    z-index: -5;
}

.header_shadow_Mini {
    box-shadow: none;
    height: 110px;
    transition: 0.5s all ease-in-out;
}

.container_nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.title_h1 {
    font-weight: bold;
    background: linear-gradient(90deg, rgb(221, 160, 221) 0%, rgb(31, 193, 174) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-family: var(--font-roboto);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

    nav{
        width: 100%;  
    }

    ul{
        display: flex;
        gap: 20px;
        width: 100%;
    }

    .nav_menu_link {
        display: inline-block;
        border-radius: 10px;
        padding: 10px 20px;
        transition: all 0.5s ease-in-out;
        border: 1px solid var(--color-verde-300);
        background-color: var(--color-verde-800);
        color: var(--font-color-light);
        font-weight: bold;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        text-shadow: 0 0 25px rgb(0, 0, 0);
    }

    .nav_menu_link:hover {
        background-color: rgb(255, 56, 0, 0.2);
    }

    li > a{
        font-size: 1.6rem;
    }

    .title_container{
        display: flex;
        justify-content: center;
    }

    .nav_menu_items {
        display: flex;
        justify-content: flex-end;
    }

/* Burguer */
    [type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
        width: 24px;
        height: 24px;
        border-radius: 5px;
    }
    .menu-burguer {
        display: none;
    }
    .menu-equ{
        display: none;         
    }
    #menu-input {
        display: none;
    }

    .anchor::before {
            display: block;
            content: "";
            margin-top: -80px;
            height: 80px;
            visibility: hidden;
    }

/* Mobile ===============================================================================================-------- */
@media only screen and (max-width: 599px) {
    body {
        background-color: var(--color-background);
    }

    header {
        height: 80px;
    }

    .container_nav {
        display: flex;
        justify-content: flex-end;

    }
    .title_container{
        display: flex;
        justify-content: center;
    }

    .title_h1 {
        font-size: 2.5rem;
    }

    .header_shadow_Mini {
        box-shadow: none;
        height: 100px;
        transition: 0.5s all ease-in-out;
    }
}

/* TABLETs ========================================================================= */
@media only screen and (max-width: 769px) {
    /* Hambur Menu */    
    .menu-burguer {
        display: flex;
        color: rgb(221, 160, 221);
        border-radius: 10px;
        font-size: 4ch;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        margin: 0 0 0 8px;
        padding: 0;
        cursor: pointer;
        top: 0.5%;
        left: 5px;
        font-weight: bold;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
    }  

    .menu-equ{
        display:none;             
    }
    .nav_menu {
        display: none;
    }
    
    #menu-input:checked  ~ .nav_menu{
        display:flex;
        color: rgb(255, 255, 255);
        text-align: start;
        align-items: flex-end;
        justify-content: flex-end;
        transition: all 1s ease-in-out;
        -webkit-transition: background 1s ease-in-out;
        -moz-transition: background 1s ease-in-out;
        -ms-transition: background 1s ease-in-out;
        -o-transition: background 1s ease-in-out;
    }

    #menu-input:checked  ~ .menu-burguer{
        visibility: hidden;   
    }
    #menu-input:checked  ~ .menu-equ{
        display: inline-flex;
        color: rgb(221, 160, 221);
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;      
        text-align: center;
        position: absolute;
        left: 19px;
        font-size: 4ch;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        transition: all 1s ease-in-out;
        font-weight: bold;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.2);
    }

    #menu-input {
        display: none;        
    }

    #menu-input:checked ~ .title_container{
        display:flex;
        justify-content: flex-end;
        transition: all 1s ease-in-out;
    }

    .nav_menu_items {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 50px 0 0;
        padding: 0;
        top: 50px;
        left: 0;
        gap: 0;
        transition: all 1s ease-in-out;
    }

    .nav_menu_item {
        width: 100%;
        margin: 0;
        border: 1px solid var(--color-background);
        transition: all 1s ease-in-out;
    }

    .nav_menu_link {
        display: inline-block;
        width: 100%;
        border-radius: 0;
        border: none;
        background-color: rgb(184, 97, 224, 0.95);
        font-size: 2.5rem;
        color: var(--font-color-light);
        font-weight: bold;
    }


    .nav_menu_link:hover {
        background-color: var(--color-coquenicot-500);
    }

    .container_nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .title_container{
        display: flex;
        justify-content: center;
    }

    .title_h1 {
        font-size: 4rem;
    }

    header {
        height: 80px;
    }

    .header_shadow_Mini {
        box-shadow: none;
        height: 100px;
        transition: 0.5s all ease-in-out;
    }
}