node_modules/*
npm-debug.log*

.env
.env*
.idea
.vscode
.history
.DS_Store
api-docs/*
coverage/*
error.log
flask.log
instance/*
keys/*
log/*
tmp/*
tests/*
venv/*
yarn-error.log
.python-version
*.pem
*.key
*.crt